KERNELS=="1-1.4", SUBSYSTEM=="tty", SYMLINK+="printer-anet-a8", RUN+="/home/kad/docker/octoprint/connect_printer.sh anet-a8"
KERNELS=="1-1.5", SUBSYSTEM=="tty", SYMLINK+="printer-ender3", RUN+="/home/kad/docker/octoprint/connect_printer.sh ender3"
